################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lib
/Assets/Model
/.idea
/.vs/Renderer
/include
/x64
/Renderer.vcxproj.user
/Renderer.vcxproj.filters
/Renderer.vcxproj
/Renderer.sln
/JSON/Schemas/Catalog
/Assets/Skybox
/Assets/PolygonCity
/Assets/Demo
/SampleScene.yaml
